.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.DS_Store
experiments/.DS_Store
experiments/Int-norming/.DS_Store
experiments/Int-norming/Proliferate/.DS_Store
.DS_Store
experiments/Int-norming/Proliferate/int-norming-pilot/.DS_Store
experiments/Int-judgemnt/.DS_Store
