.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

/*input.button {
  background-color: #63B600;
  border: none;
  color:  white;
  text-align: center;
  padding: 10px 40px 10px 40px;
  margin: 5px;
  /*border: 1px solid black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}*/

.button {
  background-color: #63B600;
  border: none;
  color:  white;
  text-align: center;
  text-decoration: none;
  padding: 15px 32px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

/*input.button {
  background-color: #63B600;
  border: none;
  color:  white;
  text-align: center;
  text-decoration: none;
  padding: 10px 40px 10px 40px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}*/


#player {
  margin: 15px 0 60px 0;
}

p.train-instructions {
  margin: 50px 0 0 0;
}

.slide {
  height: 700px;
}

.test-stimulus {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
}

.question {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

#comprehension-question {
  margin-top: 65px;
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

